<p>Gracias por suscribirte.</p>

<p>Para confirmar tu correo, haz click en el siguiente enlace.</p>

<p><%= link_to confirm_email_suscriptor_url(@suscriptor.token_confirmation), confirm_email_suscriptor_url(@suscriptor.token_confirmation) %></p>
