  <p>
    <h5>No podemos prometerte que siempre todo irá bien,
     pero sí que haremos todo lo posible para solucionar cualquier problema que encuentres tan pronto como sea posible.</h5>
  </p>

  <p>
    <h5>¿En qué podemos ayudarte?</h5>
  </p>

<%= render 'form', incident: @incident %>

<%= link_to 'Volver', root_path %>
