

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h5>
      <p class="text-center">
        Gracias por hacernos llegar tus problemas y preocupaciones. Nos pondremos en contacto contigo lo antes posible para que todo esto tenga un final feliz.
      </p>
      <p class="text-center">Lamentamos las molestias que hayas podido tener.</p>
    </h5>
  </div>
</div>




<div class="text-center">
  <%= link_to 'Volver', root_path %>
</div>
