<h1 class="text-center">¿Cómo podemos ayudarte?</h1>

<h4>Puedes usar este formulario para hacernos llegar propuestas, dudas o peticiones de información o de alta. La única expeción
es <%= link_to "quejas y sugerencias", quejasysugerencias_path %>, que nos las puedes hacer llegar desde su correspondiente formulario.</h4>

<%= render 'form' %>
