# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6a4b53ac45be95d905b7f4685b208b5e3b5e03dc4d20e5f26b11cb20ef50f720bef004e2261a242c621464fe2b7288a9cc144272fab13b421d7f81f8e881a3a8

test:
  secret_key_base: 3cc7a6e79f3ef288e7826e3ee96b237466de448cbec2b1d904441047b2ae261b026c56a55af820254559b6c1346b705774bac871e0de29e323f8b0baab5db8d9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:

  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
