<div style="display: inline;">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag("https://www.adeter.org/guialocal/logos/llerena.png", class: "img-fluid",  alt: "Ayuntamiento de Llerena", class: "max-width: 100%; vertical-align: middle;") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("https://www.adeter.org/guialocal/logos/adeter.png", class: "img-fluid",  alt: "ADETER", class: "max-width: 100%; vertical-align: middle;") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("https://www.adeter.org/guialocal/logos/erasmusplus.jpg", class: "img-fluid",  alt: "Erasmus+", class: "max-width: 100%; vertical-align: middle;") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("https://www.adeter.org/guialocal/logos/ane.png", class: "img-fluid",  alt: "Agencia Nacional Española", class: "max-width: 100%; vertical-align: middle;") %>
    </div>
  </div>
</div>
