<%= link_to promo_path(promo) do %>
  <div class="row alert alert-warning">
    <h6 class="alert-link">  <%= promo.titulo %>  </h6>
    <h6>  <%= promo.texto %>   </h6>
    <%= image_tag (promo.img.url), class: "img-fluid" unless promo.img.blank? %>
  </div>
<% end %>
