

<div class="row alert alert-info">
  <div class="col-md-12">
    <span class="text-center">
      <h2> Todas las promociones flash de las últimas 2 semanas </h2>
    </span>
  </div>
</div>

<%= render 'promos/promofull' %>
