
<div class="row">
  <div class="col-md-12">
    <p><img src="<%= "#{$url_base}" %>/cities/llerena/mercadillo_digital_web.jpg" alt="promociones locales" class="img-fluid"></p>
  </div>

  <%= render 'promos/promofull' %>

  <div class="col-md-12">
      <%= will_paginate @promos, list_classes: %w(pagination justify-content-center) %>
  </div>
</div>
