<div class="row">
  <div class="col-md-3">
    <p><h2 class="text-center">Saldo actual</h2></p>
    <p class="text-center">Tienes</p>
    <p><h2 class="text-muted text-center"><%= current_user.creditos %></h2></p>
    <p class="text-center">créditos</p>

  </div>
  <div class="col-md-9">
    <p><h2 class="text-center">Nueva promoción</h2></p>
    <%= render 'form', promo: @promo %>
  </div>

</div>
