<div class="row">
  <div class="col-md-12">

    <div class="">
      <p>Muchas gracias.</p>

      <p>Te hemos enviado un email para que nos confirmes tu dirección y podamos empezar cuanto antes.</p>
    </div>

  </div>
</div>
