<div class="row">
  <div class="">
    <p>Nos gustaría invitarte a descubir -al igual que nuestros embajadores- la comarca de Llerena. Aquí encontrarás una combinación única de historia, aventura, cultura y turismo gastronómico.</p>
    <p>En plena puerta de entrada a Sierra Morena, Llerena tiene toda la esencia Extremeña con un pasado glorioso en la tierra de los conquistadores. Flanqueada por dos castillos, su imponente
      torre destaca desde la lejanía descubriendo un hermoso centro urbano con una incríble oferta cultural. Desde aquí podrás ver sitios tan impresionantes como
      <a href="https://www.guiallerena.es/puntos/ermita-de-la-virgen-del-ara">La Capilla Sixtina de Extremadura</a>,
       <a href="https://www.guiallerena.es/puntos/el-tumbaito-portillo-del-sol">el recinto amurallado</a>, o una de las
       <a href="https://www.guiallerena.es/puntos/biblioteca-arturo-perez-gazul-hospital-san-juan-de-dios">bibliotecas más bonitas de España</a>. Todo ello sin olvidar que en cualquier momento
       puedes toparte con <a href="https://www.guiallerena.es/puntos/parque-natural-la-albuera">rincones mágicos y escondidos</a>.</p>

    <p>
      Llerena es el lugar ideal tanto para un escapada de fin de semana como para pasar unos días en pareja. A parte de todo lo que tiene por descubrir, el entorno ofrece
      grandes posibilidades de turismo activo, y a buen seguro no querrás perderte la posibilidad de visitar sitios como <a href="https://www.guiallerena.es/puntos/mirador-sierra-de-san-miguel">estas montañas</a>.
    </p>

    <p>¡Nos encantará recibirte en nuestra pequeña ciudad!</p>


  </div>
</div>
