  <div class="row">
    <div class="col-md-12 mx-2">
      <p>We would like to invite you to discover -the same as our ambassadors- the region of Llerena. Here you will find an unique combination of history, adventure, culture and gastronomy.</p>
      <p>Bein the entrance of Sierra Morena's mountain chains, Llerena has all and every essence of the conquerors ages and its glorious past. flanked by two castles, its magnificient
        tower stands out from the distance, marking a beautiful city center with amazing cultural alternatives. From here, you will get access to places as incredible as
        <a href="https://www.guiallerena.es/puntos/ermita-de-la-virgen-del-ara">The Extremadura's Capilla Sixtina</a>,
         <a href="https://www.guiallerena.es/puntos/el-tumbaito-portillo-del-sol">the old walls than once protected the city</a>, or une of
         <a href="https://www.guiallerena.es/puntos/biblioteca-arturo-perez-gazul-hospital-san-juan-de-dios">the most beautiful libraries in Spain</a>. And of course, everything
         considering that at any time you could bump into <a href="https://www.guiallerena.es/puntos/parque-natural-la-albuera">hidden and magical corners</a>.</p>

      <p>
        Llerena is the ideal place both for a weekend getaway or to spend a few days with your partner. Apart from all that it has to discover,
        the environment offers great possibilities for active tourism, and surely you wouldn't like to miss the possibility of visiting places
         like <a href="https://www.guiallerena.es/puntos/mirador-sierra-de-san-miguel">these mountains</a>.
      </p>

      <p>We can't wait to have you here!</p>

    </div>
  </div>
