<h1>Alternativas de Ocio en Llerena</h1>

<h3>Espectáculos, pubs, clubs y demás alternativas de ocio</h3>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <p>
    <div class="card">
      <!-- Carrusel  -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="<%= "#{$url_base}" %>/cities/llerena/ocio/magnet1.jpg" alt="Magnet Bar Café & Copas Llerena 1">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="<%= "#{$url_base}" %>/cities/llerena/ocio/magnet2.jpg" alt="Magnet Bar Café & Copas Llerena 2">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="<%= "#{$url_base}" %>/cities/llerena/ocio/magnet3.jpg" alt="Magnet Bar Café & Copas Llerena 3">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
      <!--  -->
      <div class="card-body">
        <h5 class="card-title">Magnet Bar Café & Copas</h5>
        <p class="card-text">Pub alegre y con buena música para desconectar y disfrutar.</p>
        <a class="btn btn-primary btn-lg btn-block" href="https://www.guiallerena.es/empresas/magnet-bar-cafe-copas">Ver más</a>
      </div>
    </div>
    </p>



  </div>

</div>
