<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Todos los sitios de interés de Llerena y La Campiña Sur</h1>

  </div>
</div>

  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">

      <%= link_to "#" do %>
        <div class="card mb-3 mx-auto cards">
        <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text event-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    <% end %>



    </div>
  </div>
