<div data-controller="map">


<div class="row">
  <div class="col-md-12">
    <div data-target="facebook.resize"></div>
    <%= image_tag @map.imgsrc.url, class: "img-fluid mx-auto d-block", alt: "Mapa interactivo de Llerena y la Campiña Sur", name: "painted_map", usemap: "#painted_map" unless @map.nil? %>
  </div>
</div>
<!--  HTML Mapping-->
<%= raw @map.try(:body) %>

</div>
