// Place all the styles related to the Pantalla controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.media-screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* Full sized */
    width: 100%;
    height: 100v;
    /* Dark background */
    background: rgba(0, 0, 0, 0.7);
  div.fullimg img {
    width: 100%;
    height: auto;
  }
  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
  }
}
