<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te escribimos para hacer saber que tu e-mail está en proceso de cambio a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te escribimos para hacer saber que tu e-mail ha cambiado a <%= @resource.email %>.</p>
<% end %>
