<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un cambio de contraseña. Puedes hacerlo en el enlace de abajo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has sido tu quien lo ha solicitado, por favor, ignora este correo</p>
<p>Tu contraseña no cambiará hasta que accedas desde el enlace proporcionado y generes una nueva.</p>
