<p><h1 class="text-center">Comparativa entre planes y ventajas en las promociones</h1></p>


<div class="table-responsive">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">PLAN</th>
      <th scope="col" class="text-center">Basic</th>
      <th scope="col" class="text-center">Plus</th>
      <th scope="col" class="text-center">Premium</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">Espera entre promociones</th>
      <td class="text-center">1 semana</td>
      <td class="text-center">3 días</td>
      <td class="text-center">Sin esperas</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">Promociones simultáneas</th>
      <td class="text-center">No</td>
      <td class="text-center">No</td>
      <td class="text-center">Sí (Hasta 3 simultáneas)</td>
    </tr>

  </tbody>
</table>
</div>
