



<h1>Política de Cookies</h1>

<p>Este sitio web utiliza las cookies propias, de terceros y analíticas estrictamente necesarias para optimizar la navegación y mejorar la experiencia de usuario.<p>

<p>Con la mera navegación (con el navegador habilitado para aceptar cookies), el usuario acepta la instalación de cookies, salvo que se oponga, según se detalla en esta Política de cookies.</p>

<h3>¿Qué es una cookie?</h3>

<p>Una “Cookie” es un pequeño archivo de texto que un sitio web almacena en el navegador del usuario. Las cookies facilitan el uso de la web y la navegación por la misma. Son esenciales para el funcionamiento de internet, aportando innumerables ventajas en la prestación de servicios interactivos.</p>

<p>Las cookies se utilizan, por ejemplo, para gestionar la sesión del usuario (reduciendo el número de veces que tiene que incluir su contraseña), mejorar los servicios ofrecidos, o para adecuar los contenidos de una página web a sus preferencias.</p>

<p>Existen diferentes tipos de cookies:</p>

    Cookies de sesión: se borrarán una vez el usuario abandone la página web que las generó
    Cookies persistentes: que permanecen en su ordenador hasta una fecha determinada.

<p>Relación de cookies utilizadas en nuestra web</p>

    Cookies propias: Son cookies generadas por la propia página web que se está visitando.Éstas pueden ser usadas para fines técnicos (también denominadas estrictamente necesarias) siendo necesarias para el correcto funcionamiento de la web o para personalización haciendo posible que el usuario puede configurar aspectos como el idioma de la web, etc.

    Cookies de terceros: Como por ejemplo las utilizadas para la aceptación de nuestra política de cookies.Al pulsar sobre el botón "Acepto", éstas harán que no se muestre el cuadro de aviso en la pantalla cada vez que entres en nuestro sitio web.

    Cookies analíticas: Este tipo de cookies se utilizan para recopilar datos estadísticos de la actividad en el sitio web mediante Google Analytics con el propósito de garantizar el mejor servicio posible al usuario.
    Si desea obtener más información sobre el tipo de cookies que utiliza Google y cómo las utiliza puede visitar el siguiente enlace: <a href="www.google.es/intl/es/policies/technologies/cookies/">Google Cookies</a>

<p>Garantías y opciones sobre las cookies</p>

<p>En todo momento, y al menos, durante la instalación o puesta al día del navegador, el usuario tiene la posibilidad de aceptar o rechazar la instalación de cookies, o bien rechazar la instalación de un determinado tipo de cookies, como las cookies de terceros.Además, después de cada sesión puede eliminar todas o algunas de las cookies almacenadas.</p>

<p>Asimismo el usuario puede activar:</p>

  <p>  La navegación privada: Mediante la cual su navegador deja de guardar el historial de navegación, contraseñas de sitios web, cookies y otra información de las páginas que visita.
    La función de no rastrear: Por la que el navegador pide a los sitios web que visita que no rastreen sus hábitos de navegación, para por ejemplo, servirle publicidad de su interés en los sitios que visita.
    Le recomendamos que consulte la ayuda de su navegador para informarse de las diferentes opciones sobre cómo gestionar las cookies.</p>

    <p>Google Analytics</p>

<p>Google Analytics es un servicio análisis de datos estadísticas prestado por la empresa Google (política de privacidad). www.asociacionrealidades.org utiliza este servicio para realizar un seguimiento de las estadísticas de uso del mismo.

Google Analytics utiliza cookies para ayudar al sitio web a analizar datos estadísticos sobre el uso del mismo (número de visitas totales, páginas más vistas, etc.). La información que genera la cookie (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.

Google usará esta información por cuenta nuestra con el propósito de generar información estadísticas sobre el uso de www.asociacionrealidades.org, Google no asociará su dirección IP con ningún otro dato del que disponga Google. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google.

Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, de hacerlo, limitará la plena funcionabilidad de www.asociacionrealidades.org.  Al utilizar este sitio web, da su consentimiento al tratamiento de información por Google en la forma y para los fines arriba indicados.</p>

<p>A continuación incluimos los vínculos para gestionar cookies en los navegadores más relevantes:</p>

  <p>  Internet Explorer: <a href="windows.microsoft.com/es-ES/windows-vista/Block-or-allow-cookies">windows.microsoft.com/es-ES/windows-vista/Block-or-allow-cookies</a></br>
    Firefox: <a href="support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></br>
    Safari: <a href="support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES">support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES</a></br>
    Google Chrome: <a href="support.google.com/chrome/answer/95647?hl=es">support.google.com/chrome/answer/95647?hl=es</a></br></p>

<p>Tenga en cuenta que el bloqueo de cookies puede afectar a todas o algunas de las funcionalidades de nuestra web.</p>
