<p class="text-center">-- Versión 1.0 beta --</p>

<p>11 de Agosto</p>
<p>Sale a la luz la primera versión terminada en un 90% y que seguirá en pruebas durante las dos primeras semanas.</p>
<p>A partir del día 13 se abrirá la plataforma al resto de empresas preseleccionadas.</p>
<p>Cualquier duda o sugerencia será atendida en la sección de contacto.</p>
