

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Precios</h1>
      <p class="lead">Los precios llevan todo incluido. Sin letra pequeña, sin trampas.
         Todos los planes llevan 1 mes de prueba, para que pongas todo a tu gusto y puedas ver como funciona.
          Si transcurrido el mes no te convence, no tendrás que pagar ni un duro, pero estamos convencidos de que no será el caso.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">BASIC</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center">50€ <small class="text-muted">/ año</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Posicionamiento web optimizado</li>
              <li>La mejor atención al cliente</li>
              <li>Hasta 3 fotos</li>
              <li>3 hashtags máximos</li>
              <li>25 créditos gratuitos anuales</li>
              <li>No aparece en destacados</li>
              <li>1 sem. de espera entre promociones</li>
              <li>Acceso grupo VIP empresarios locales</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Voy a probar</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">PLUS</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center">90€ <small class="text-muted">/ año</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Posicionamiento web optimizado</li>
              <li>La mejor atención al cliente</li>
              <li>Hasta 6 fotos (profesionales)</li>
              <li>7 hashtags máximos</li>
              <li>50 créditos gratuitos anuales</li>
              <li>Aparece en destacados</li>
              <li>3 días de espera entre promociones</li>
              <li>Acceso grupo VIP empresarios locales</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Tiene buena pinta</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">PREMIUM</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center">150€ <small class="text-muted">/ año</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Posicionamiento web optimizado</li>
              <li>La mejor atención al cliente</li>
              <li>Hasta 9 fotos (profesionales)</li>
              <li>12 hashtags máximos</li>
              <li>Video promocional incluido</li>
              <li>100 créditos gratuitos anuales</li>
              <li>Aparece mucho en destacados</li>
              <li>1 día de espera entre promociones</li>
              <li>Acceso grupo VIP empresarios locales</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Voy a petarlo</button>
          </div>
        </div>
      </div>


    </div>
