<h1>Preguntas frecuentes</h1>
<p>¿Cuánto tiempo tarda un perfil en posicionarse?</p>
<p>Qué es exactamente el posicionamiento web/SEO</p>
<p>¿Qué resultado puedo esperar?</p>
<p>Cómo llega la gente a la web</p>
<p>¿Cómo funcionan exactamente las promociones flash?</p>
<p>Qué perfil de gente llega a la web</p>
