



<p><h4>Un buen anuncio debe destacar y ser diferente. Aquí algunos consejos:</h4></p>

<p>1. Usa un título que llame la atención</p>
<p>2. Sé específico en el texto: qué ofreces y por qué es una buena oportunidad</p>
<p>3. Habla sobre las ventajas y dota el mensaje de contenido emocional</p>
<p>4. Usa una imagen descriptiva y llamativa</p>
<p>5. Si es posible, crea urgencia</p>
<p>6. Los anuncios que ofrecen un descuento sobre el precio original son más efectivos</p>
<p>7. Cuando la publiques compártela tus grupos de Fhatsapp y en Facebook</p>
<p>8. No repitas el mismo anuncio una y otra vez. Cambia imágenes, textos, precios...etc. Sé creativo</p>


<div class="text-center">
  <%= link_to "Entendido", mispromos_path, class: "btn btn-primary" %>
</div>
