
  <h1>Política de privacidad</h1>

  <h3>Asociación para el Desarrollo Tecnológico en Entornos Rurales, (ADETER)</h3>

    <p>Mediante la presente Política de Privacidad, la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES pretende mostrar su compromiso respecto al cumplimiento de las normativas orientadas a la protección de datos de carácter personal. En este sentido, se consideran como marco de referencia, principalmente:</p>

      <p><em>  Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD).
        Ley Orgánica de Protección de Datos (LOPD).
        Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico (LSSI).</em></p>

    <p>Esta declaración aplica a cualquier sitio web,  producto o servicio perteneciente a la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES o que se encuentre vinculada a la misma.
    La ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES se reserva el derecho de modificar su Política de Privacidad de acuerdo con la legislación aplicable en cada momento. Cualquier modificación de dicha Política será publicada en el sitio web.</p>

    <p>1. RESPONSABILIDAD DEL TRATAMIENTO DE SUS DATOS PERSONALES</p>
    <p>ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES, titular del dominio web, y responsable de los tratamientos de información es una asociación con domicilio a estos efectos en C/ Zapatería,6, 06900 Llerena (Badajoz- España) y número de C.I.F.: G06638522. Con carácter general, proporciona como correo electrónico de contacto el siguiente:
    info@adeter.org
    La dirección indicada será la dirección a efectos de notificación, comunicación y contacto.</p>

    <p>2. INFORMACIÓN Y DATOS DE CARÁCTER PERSONAL QUE RECOPILAMOS</p>
    <p>En la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES recopilamos, almacenamos y tratamos la información (y en particular los datos de carácter personal) derivada de la prestación de nuestros servicios. En particular, la información que recogemos y tratamos es:</p>

        <p>A) Clientes</p>

        <p>La Información de nuestros socios y clientes necesaria para la prestación de nuestros servicios publicitarios y asesoramiento empresarial en medios digitales. Esta información incluye  datos de carácter personal, como son: información de carácter identificativo y de contacto, información personal destinada a la categorización del perfil del cliente, y datos bancarios, necesarios para la prestación, gestión y facturación de nuestros servicios y para nuestros propósitos operacionales.
        Por otro lado, y en todo caso previa solicitud y autorización expresa del interesado,  la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES puede utilizar los datos de contacto de otros usuarios que lo soliciten, para el envío de comunicaciones referentes a nuestros productos o servicios, así como cualquier otra información que entendamos pueda resultar de su interés.
        Además, a través de nuestra página web, disponemos de diversos formularios a través de los cuales los usuarios pueden contactar con nosotros o solicitar información puntual referente nuestros productos o servicios. En todo caso, se solicitarán los datos de contacto e identificación necesarios para tramitar su solicitud.
        Por otro lado, a nivel interno la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES recopila, almacena y trata los datos de carácter personal de sus trabajadores y colaboradores, necesarios para mantener la relación laboral con los mismos, y, en particular, para cumplir con finalidades tales como elaboración de nóminas, gestión del personal, prevención de riesgos laborales, cumplimiento de las obligaciones fiscales y de seguridad social, formación y desarrollo profesional, gestión horaria o vacacional,.... Para tales fines, la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES recabará, a lo largo de la relación laboral, todos los datos de carácter personal que sean necesarios (identificativos y de contacto, académicos y profesionales, bancarios y de facturación), pudiendo incluir aquellos que por su naturaleza impliquen un nivel de protección especial (como pueden ser relacionados con la afiliación sindical o la salud de los trabajadores), únicamente en los márgenes autorizados por la legislación aplicable.
        Como consecuencia de nuestros servicios de FORMACIÓN se recogen los datos de los alumnos, necesarios para la gestión de la acción formativa. En estos casos, se recogen, principalmente, datos identificativos y de contacto.</p>

        <p>B) Visitantes</p>
        <p>Como visitante de la web los únicos datos recogidos son los relativos al uso dentro de la aplicación propios del ámbito de la analítica web. Servicio subcontratado con Google Analytics, y con sus propios principios y condiciones.</p>

      </p>

    <p>3. SEGURIDAD.</p>
    <p>La ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES adopta y actualiza sus medidas de seguridad organizativas y técnicas con el fin de que el tratamiento de datos personales que realiza sea conforme con los requisitos de la legislación vigente en materia de protección de datos nacional y europea.
     En caso de que, como usuario o parte afectada, detecte alguna incidencia o violación de seguridad, o alguna vulnerabilidad que pueda ser afectada, la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES pone a disposición de los afectados la dirección: info@adeter.org a través de la cual se pueden realizar las comunicaciones que se consideren adecuadas o necesarias para la mejora de la seguridad de nuestra información y sistemas.</p>

    <p>4. DERECHOS DE LOS TITULARES DE LOS DATOS.</p>
    <p>Derechos que le amparan en relación al tratamiento de sus datos:
    Acceso/rectificación y supresión: las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para la ejecución del contrato.
    Limitación: en determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o defensa de reclamaciones.
    Oposición: los interesados podrán oponerse al tratamiento de sus datos. la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES dejará de tratar los datos, salvo por motivos legítimos, imperiosos, o el ejercicio o defensa de posibles reclamaciones, y los mantendremos debidamente bloqueados durante el plazo correspondiente mientras persistan las obligaciones legales.
    Igualmente, el interesado tiene derecho a oponerse a la adopción de decisiones individuales automatizadas que pudieran producir efectos jurídicos o afectarle significativamente.
    Portabilidad: las personas interesadas pueden solicitar y recibir los datos que le incumban y que nos haya facilitado o solicitar que se los enviemos a otro responsable del tratamiento de su elección, en un formato estructurado de uso común y lectura mecánica.
    Para el ejercicio de estos derechos, la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES ha habilitado la dirección de correo electrónico: info@adeter.org, a través de la cual usted podrá contactar con la organización para solicitar el ejercicio de los derechos que la normativa reconoce. Del mismo modo, estos podrán ser ejercidos a través de la dirección de correo postal indicada en el primer apartado.</p>

    <p>5. QUÉ INFORMACIÓN COMUNICAMOS O TRANSFERIMOS.</p>
    <p>Como norma general, desde la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES no se comunican datos de carácter personal a terceros más allá de aquellas comunicaciones necesarias para la prestación de los servicios, o derivados de los requisitos legales que nos sean de aplicación. En particular, realizamos comunicaciones e intercambios de información con las administraciones públicas para la tramitación de ayudas y/o tramitación de documentos públicos para los socios / clientes. Y con las entidades bancarias, en base a los servicios prestados, para realizar la gestión de cobros y facturación de los servicios prestados, la gestión de pagos a proveedores de servicios, o en cumplimiento de los requisitos legales, fiscales y de deberes públicos. Igualmente en cumplimiento de estos deberes públicos, se realizan comunicaciones a los organismos de la administración necesarios, como puede ser la Administración Tributaria.
    En el ámbito de los datos de nuestros trabajadores, igualmente comunicamos los datos necesarios para cumplir con las obligaciones legales en el ámbito laboral, como pueden ser las comunicaciones a la Seguridad Social o a las entidades relacionadas con el cumplimiento de las obligaciones en materia de prevención de riesgos y seguridad y salud laboral.</p>

    <p>6. DURANTE CUANTO TIEMPO CONSERVAMOS LA INFORMACIÓN.</p>
    <p>Como norma general, en la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES únicamente conservamos la información y los datos de carácter personal durante el tiempo necesario para cumplir con la finalidad con la cual se obtuvieron los datos, así como para atender las posibles reclamaciones o responsabilidades que surjan como consecuencia del tratamiento de los datos. Con carácter general, una vez finalizada la prestación del servicio, se procede al bloqueo de los datos no realizando sobre los mismos ningún tratamiento más allá de mantenerlos a disposición de las Administraciones Públicas, Jueces y Tribunales, para la atención de las posibles responsabilidades nacidas del tratamiento, durante el plazo de prescripción de éstas, transcurrido el cual deberá procederse a su supresión.. En particular, en la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES conservamos los datos referentes a la facturación de nuestros servicios, así como la información derivada de nuestros servicios de asesoramiento durante un periodo de 5 años, en cumplimiento de la legislación vigente. </p>

    <p>7. CONDICIONES GENERALES DE USO Y RESPONSABILIDADES.</p>
    <p>Los sitios web de la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES, tienen por objeto facilitar, al público en general, el conocimiento de las actividades que esta empresa realiza y de los servicios que presta, así como ofrecer la posibilidad de contratación de determinados servicios.
    El uso de cualquiera de estos sitios Web implica la expresa y plena aceptación de las condiciones aquí expuestas, sin perjuicio de aquellas particulares que pudieran aplicarse a algunos de los servicios concretos ofrecidos a través del sitio.
    Con objeto de mantener actualizada la información publicada en la web, los contenidos del mismo podrán ser modificados, corregidos, eliminados o añadidos en cualquier momento, por lo que será conveniente comprobar la vigencia o exactitud de los mismos acudiendo a las fuentes oficiales. Igualmente, la presente política de privacidad podrá ser susceptible de cambio, corrección o modificación, con la finalidad de mantenerla adecuada a las necesidades de la organización así como a la normativa vigente.</p>

    <p>8. LEY APLICABLE Y JURISDICCION.</p>
    <p>La resolución de los conflictos, controversias o reclamaciones que puedan surgir de los servicios web a los que se refiere la presente política de privacidad, se regirán por lo expuesto en la legislación española. La ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES se someterá a los Jueces, Tribunales y jurisprudencia de la ciudad de Llerena (Badajoz), salvo que se acuerde lo contrario con el consumidor/usuario.

    <p>9. POLITICA DE COOKIES.</p>
    <p>Los servicios web prestados por la ASOCIACIÓN PARA EL DESARROLLO TECNOLÓGICO EN ENTORNOS RURALES, utilizan cookies de terceros (Google) con fines analíticos cuando un usuario navega por el sitio. </p>
