<div class="row">
  <div class="col-md-12">
    <h1>Publica tus eventos aquí gratuitamente</h1>
    <p>Este espacio está abierto para todos aquellos que quieran dar visibilidad a sus eventos. Pero para ello, es importante que cumpla los siguientes requisitos:</p>
    <ul>
      <li>El acontecimiento debe ser futuro, con al menos 2 días de margen. </li>
      <li>Debe ser en un lugar de acceso público y abierto a todos los públicos.</li>
      <li>Debe ser un acontecimiento excepcional. Algo que sucede periódicamente (todas las semanas o todos los meses) no sería considerable.</li>
      <li>No debe contener elementos corporativos o de naturaleza empresarial.</li>
    </ul>

    <p>Si crees que cumples todos los requisitos y quieres verlo publicado en esta página, envía un correo a <%=%></p>
  </div>
</div>
