
<h1>La publicidad más inteligente que puedes hacer</h1>

<h4>GuiaLlerena.es es el mejor sitio en el que puedes aparecer como empresa.

Es el sitio donde está la gente de Llerena y los turistas que nos visitan. Es el único sitio donde encontrar todos los chollos y las gangas de la zona ...y donde anunciarlas.
 Es el sitio donde encontrarás las mejores fotos y la información más completa sobre todo aquello que nos hace sentir orgullosos.
 Y sobre todo, es un lugar que te ayudará en el desarrollo de tu negocio.</h4>

<h2>¿Cómo me va a ayudar?</h2>

<p>

GuiaLlerna.es es una plataforma destinada a promover el turismo de interior y la empresa local. El proyecto tiene dos objetivos fundamentales:

- Atraer a más turistas poniendo en valor nuestro potencial turístico y hacer que éstos gasten en los comercios de la zona
- Incentivar que la gente de aquí gaste aquí y no fuera dando visibilidad y herramientas a la empresa local.

</p>

<h2>¿Cómo me va a ayudar?</h2>

<div class="row">
  <div class="col-md-6">
      <h4>Aparece cuando tus clientes busquen parabras relacionadas con lo tu negocio</h4>
      <h5 class="text-muted">Blao</h5>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <h4>Promociones Flash de gran impacto</h4>
      <h5>Genera anuncios que corta </h5>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
      <h3>Perfiles de empresa con fotografía profesional altamente orientados a la venta</h3>
      <h5>Blao</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
      <h3>Perfiles de empresa con fotografía profesional altamente orientados a la venta</h3>
      <h5>Blao</h5>
  </div>
</div>


<%= link_to "Planes y precios", precios_path %>
