

<h5>
  <p>Apreciamos mucho cualquier tipo de crítica constructiva.</p>

  <p>Las críticas nos ayudan a hacer mejor nuestro trabajo, a ofrecer un mejor servicio
  y a hacer de este lugar algo útil para lugareños y visitantes.</p>

  <p><b>¿Qué echas en falta?</b></p>
</h5>

 <p>  <%= render "contacts/form" %>   </p>
