<h1>Salón de la fama</h1>

<p>
<h4>En el Salón de la Fama puedes ver todos los amigos que cada empresa ha conseguido reunir en su apoyo.</h4>
</p>





<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th class="text-center">Empresa</th>
      <th class="text-center">Amigos</th>
      <th class="text-center">% del total</th>

    </tr>
  </thead>

  <tbody>
    <% @index.each do |k,v|%>
      <tr>
        <td class="text-center"><%= Empresa.find_by_id(k).try(:name) %></td>
        <td class="text-center"><%= v %></td>
        <td class="text-center"><%= (v*100)/@empresas.count %>%</td>

      </tr>

    <% end %>
  </tbody>
</table>
