
<p>
<div class="row">
  <div class="col-md-12 text-center">
    <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      

      <!-- Your like button code -->
      <div class="fb-like"
        data-href="https://www.facebook.com/guiallerena"
        data-layout="standard"
        data-action="like"
        data-show-faces="true">
      </div>

  </div>
</p>
